@use "../GlobalStyle.scss" as *;

.auth-layout {
  background-color: $LargeBlack;
  min-height: 100vh;
  .auth-main {
    .auth-section {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.def-layout {
  background-color: $LargeBlack;
  min-height: 100vh;

  .def-main {
    min-height: 100vh;
    display: grid;
    grid-template: 1fr / 250px 1fr;

    .def-aside {
      background-color: $MildBlack;
      position: relative;
    }

    .def-section {
      display: grid;
      grid-template: 120px 1fr / 1fr;
      padding: 50px;
    }
  }
}
